@{
    ViewData["Title"] = "Home Page";
}
@model ECommerce.Models.OrderIndexModels
@using ECommerce.Models
@using Microsoft.Extensions.Options
@inject IOptions<StripeSettings> Stripe

<form method="post" asp-controller="Order" asp-action="Create">
    <div class="form-group">
        <span asp-validation-for="NewOrder.CustomerId"></span>
        <label asp-for="NewOrder.CustomerId"></label>
        <select class="form-control" asp-for="NewOrder.CustomerId">
        @foreach(Customer c in Model.Customers)
        {
            <option value="@c.customer_id">@c.name</option>
        }
        </select>
    </div>   
    <div class="form-group">
        <span asp-validation-for="NewOrder.ProductId"></span>
        <label asp-for="NewOrder.ProductId"></label>
        <select class="form-control" asp-for="NewOrder.ProductId">
        @foreach(Product p in Model.Products)
        {
            <option value="@p.product_id">@p.name</option>
        }
        </select>
    </div>
    <div class="form-group">
        <span asp-validation-for="NewOrder.Quantity"></span>
        <label asp-for="NewOrder.Quantity"></label>
        <input class="form-control" asp-for="NewOrder.Quantity">
    </div>
    <input type="submit" value="Add">
</form>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Customer Name</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Order Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var o in Model.Orders)
        {
            <tr>
                <td>@o.Recipient.name</td>
                <td>@o.Item.name</td>
                <td>@o.quantity</td>
                <td>@o.created_at.ToString("D")</td>
            </tr>
        }
    </tbody>
</table>
<hr>
<h3>Ping Stripe For Testing</h3>


<form action="/Order/Charge" method="POST">
  <article>
    <label>Amount: $5.00</label>
  </article>
  <script src="//checkout.stripe.com/v2/checkout.js"
          class="stripe-button"
          data-key="@Stripe.Value.PublishableKey"
          data-locale="auto"
          data-description="Sample Charge"
          data-amount="500">
  </script>
</form>